;; -*- no-byte-compile: t; -*-
;;; mycustom.el -*- lexical-binding: t; -*-
(setq! cc/default-font "Hack"
       cc/default-font-size 24
       ;; recommended: doom-acario-light, doom-one-light, doom-nord,  doom-oksolar-light
       cc/light-theme 'doom-one-light
       ;; recommended: doom-one, doom-peacock, doom-tomorrow-night, doom-opera
       cc/dark-theme 'doom-tomorrow-night)

(setq! personal-aspell-en-dict "~/dicts/spell-fu/en.pws")

(setq! cc/default-org-dir "~/org/"
       cc/org-id-locations "~/org/.orgids"
       cc/notes-base-dir "~/org/notes/"
       cc/org-agenda-dir "~/org/todos/"
       cc/org-roam-graph-viewer "google-chrome"
       cc/org-agenda-dir "~/org/todos/")
