;;; mycustom.el -*- lexical-binding: t; -*-
(when (modulep! :cc appearance)
  (setq! cc/default-font "Hack"
         cc/default-font-size 20
         cc/default-unicode-font "WenQuanYi Micro Hei"
         cc/default-unicode-font-size 20
         ;; recommended: doom-acario-light, doom-one-light, doom-nord,  doom-oksolar-light
         cc/light-theme 'doom-one-light
         ;; recommended: doom-one, doom-peacock, doom-tomorrow-night, doom-opera
         cc/dark-theme 'doom-tomorrow-night)
  (cc/set-doom-ui-appearance))

(when (modulep! :cc better-defaults)
  (setq! cc/personal-aspell-dict-dir "~/dicts/spell-fu/"))

(setq! cc/org-home-dir "~/org/"
       cc/org-pdf-notes-dir "~/org/pdf-notes/"
       cc/deft-notes-dir "~/org/notes/"
       cc/org-roam-directory "~/org/roam/"
       cc/org-roam-db-location "~/org/roam/org-roam.db"
       cc/org-roam-journal-directory "~/org/roam/journal/"
       cc/org-roam-graph-viewer "google-chrome")
