;;; mycustom.el -*- lexical-binding: t; -*-

(setq! cc/default-font-size 20
       cc/default-unicode-font-size 20
       cc/agenda-home-dir "~/TODOs"
       cc/org-todo-filename "todo.org"
       cc/org-habits-filename "habits.org"
       )
